.dropdown-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.4rem;
  background-color: var(--white-color);
  transition: background-color 0.4s;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: var(--light-background-color);
}

.icon {
  color: var(--primary-color);
  font-size: 1.7rem;
  width: 2rem;
  display: flex;
  justify-content: center;
}

.dropdown-item h3 {
  font-size: 1.5rem;
  color: var(--grey-color);
}
