.cart {
  width: 40rem;
  height: 100vh;
  background-color: var(--white-color);
}
.title {
  text-align: center;
  padding: 1.6rem 0;
  color: var(--primary-color);
  font-size: 1.5rem;
  border-bottom: 1px dotted var(--grey-color);
}
.cart-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px dotted var(--grey-color);
}
.cart-item-header h3 {
  color: var(--primary-color);
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-item-header p {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--grey-color);
}

.cart-items {
  max-height: 35rem;
  overflow-y: scroll;
}
