.review {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
img {
  width: 5rem;
}
.content {
  padding: 0 2rem;
}
.content > h3 {
  color: var(--primary-color);
  font-size: 1.4rem;
}
.content > p {
  color: var(--grey-color);
  font-size: 1.3rem;
  margin-top: 2px;
}

.rates-and-date {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  padding: 0 2rem;

  text-align: center;
}
.date {
  color: var(--grey-color);
  font-weight: bold;
  font-size: 1.2rem;
}
