button {
  height: 5rem;
  background: var(--primary-color);
  color: #fff;
  width: 100%;
  border-radius: 2.5rem;
  border: 0;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2rem 0;
  cursor: pointer;
}

.disabled-button {
  background-color: rgb(108, 108, 108);
  pointer-events: none;
}

.default {
  width: 20rem;
}
.small {
  width: 15rem;
  font-size: 1.4rem;
  height: 4rem;
}
