.input-img {
  background-color: var(--dark-grey-color);
  border-radius: 100%;
  width: 14rem;
  height: 14rem;
  object-fit: cover;
}
.input-file {
  color: var(--grey-color);
  transform: translateX(2rem);
  width: 100%;
  padding: 0 2rem;
}
.input-label {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
