.edit-image {
  width: 35rem;
  height: 26rem;
  background-color: var(--light-background-color);
  background-color: #fff;
  padding: 2rem;
}
.edit-image__name {
  font-size: 1.4rem;
  color: var(--primary-color);
  text-decoration: underline;
}
