.text {
  align-items: center;
  border-radius: 5rem;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  height: 32px;
  justify-content: center;
  margin: 2rem;
  width: 95px;
}

.danger {
  background-color: var(--primary-color);
}
.success {
  background-color: var(--success-color);
}
.tertiary {
  background-color: var(--tertiary-color);
}
