.register {
  color: var(--grey-color);
  display: flex;
}
.features {
  width: 100%;
}

.register__agreement {
  display: flex;
  font-size: 1.2rem;
}
.primary-color {
  color: var(--primary-color);
  font-weight: bold;
}

.register__agreement p {
  margin-left: 1rem;
  font-size: 1.2rem;
  text-align: left;
}
