.address-container {
  color: var(--dark-grey-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px dotted var(--grey-color);
}
.address-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  width: 20rem;
  line-height: 1.6;
  font-size: 1.4rem;
}
.remove-btn {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}
.phoneNumber {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.add-address {
  font-size: 1.3rem;
  text-decoration: underline;
  color: var(--primary-color);
  margin: 2.5rem 0;
  font-weight: bold;
  cursor: pointer;
}
