.my-reviews-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1rem;
}
.product {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--primary-color);
  font-size: 1.4rem;
  padding-right: 5rem;
}
.product img {
  width: 4.2rem;
}
.comment {
}
.comment p {
  color: var(--dark-grey-color);
  font-weight: 600;
  font-size: 1.3rem;
  width: 45rem;
  line-height: 1.3;
}
.comment span {
  color: var(--grey-color);
  line-height: 2.2;
  font-weight: bold;
  font-size: 1.2rem;
}

.rating {
  margin-left: auto;
  align-self: flex-start;
}
