.profile {
  background-color: var(--light-background-color);
}
.profile__content {
  margin: 3rem 3rem;
  display: flex;
}
.profile__content--edit-image {
  margin-right: 1rem;
  width: 45rem;
}
.profile__container {
  width: 100vw;
}
.flex {
  display: flex;
}
