.header {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
.menu-page {
  display: flex;
  width: 100%;
}
.menu-page__layout {
  background-color: #fff;
  margin: 0 1rem;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-page__layout h3 {
  color: var(--primary-color);
  font-size: 1.4rem;
}
.menu-page__layout--items {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
}
.menu-page__layout--item {
  cursor: pointer;
  color: var(--grey-color);
  transition: color 0.2s;
}
.menu-page__layout--item:hover {
  color: var(--primary-color);
}
.container {
  width: 100%;
}

.content {
  margin: 1.2rem;
}

.menu-items {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)); */

  gap: 1rem;
}
