.form {
  padding: 5rem;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.form__logo {
  display: flex;
  align-items: end;
  justify-content: center;
}
.form__heading {
  margin-bottom: 2rem;
}

.form__heading h1 {
  color: var(--primary-color);
  transform: translateX(-1rem);
}
.social-media {
  transform: translateY(-0.2rem);
  font-size: 1.2rem;
}
.social-media__list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}
.social-media__list > .icon:nth-child(1) {
  color: rgb(36, 124, 225);
}
.social-media__list > .icon:nth-child(2) {
  color: rgb(32, 165, 218);
}
.social-media__list > .icon:nth-child(3) {
  color: rgb(22, 120, 159);
}
.social-media__list > .icon:nth-child(4) {
  color: rgb(159, 59, 22);
}

.primary-color {
  color: var(--primary-color);
  font-weight: bold;
}

.social-media > p {
  margin-top: 5rem;
}

.form__footer {
  position: absolute;
  transform: translateX(50%);
  bottom: 2rem;
}
