.accordion {
}
.accordion-items {
  background-color: var(--white-color);
  padding: 1.6rem 4rem;
}
.accordion-item {
  padding: 1.8rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--grey-color);
  transition: all 0.4s;
  cursor: pointer;
}
.accordion-item:hover {
  color: var(--primary-color);
}

.accordion-item::before {
  content: '-';
  margin-right: 1rem;
}
